exportPattern("^[[:alpha:]]+")

importFrom(stringr, str_replace, str_split_fixed, str_which)
importFrom(stats, median, runmed, na.omit, smooth.spline)
importFrom(matrixStats, rowMedians)
importFrom(data.table, as.data.table, data.table, dcast, melt, fread)
importFrom(readxl, read_excel)
importFrom(tools, file_ext)
importFrom(ggplot2, ggplot, aes, geom_point, geom_hline, scale_x_log10, scale_y_log10, geom_density_2d, geom_hex, theme_classic)
importFrom(scales, comma)
